<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food</title>
  </head>
  <body>
    <h1>Add new food</h1>
    <span id="save-status" style="color: green"></span>
    <form id="food-form" method="post" action="">
      <label for="food-name">Food name</label>
      <input
        type="text"
        name="food-name"
        id="food-name"
        placeholder="food name"
        class=""
      />
      <button id="save-food" type="submit">Save</button>
    </form>
    <h1>Food Table</h1>
    <table id="food-table">
      <thead>
        <tr>
          <th>Food ID</th>
          <th>Name</th>
          <!-- <th>Action</th> -->
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
  <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
  <script th:src="@{/dist/js/pages/food/food.js}"></script>
</html>
